DATABASE_URL=sqlite:///db.sqlite3
SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ORIGINS=http://localhost:7010,http://127.0.0.1:7010
CSRF_TRUSTED_ORIGINS=http://localhost:7010,http://127.0.0.1:7010
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
TEACHER_SHARE_PERCENT=30
VITE_API_URL=http://127.0.0.1:10234
